.header img{
    width: 100px;
}
h1{
    color: #ffffff;
}
.header{
    height: 100px;
    background-color: #7474a770;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 36px;
    font-size: 17px;
}
.header a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 3px;
}